@media screen and (min-width: 320px) and (max-width: 980px) and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}

/** postcss-bem-linter: define main-component; weak */
$color: #555;

.main-component {
    &__title {
        color: $color;
    }
}

/** postcss-bem-linter: define utilities */
.u-ellipsis {
    color: $color;
}

/* postcss-bem-linter: ignore */
.stage {
    position: relative;
    width: 80%;
    height: 750px;
    border: 5px solid #ccc;
    border-radius: 10px;
    margin: 1rem auto;
}

/* postcss-bem-linter: ignore */
.container {
    position: absolute;
    z-index: 1;
    top: 90px;
    left: 90px;
    width: 20px;
    height: 20px;
    background: green;
    border-radius: 100%;
}

/** postcss-bem-linter: define dropshadow */
.dropshadow {
    background: rgb(0, 0, 0);
    z-index: 0;
    filter: blur(2px);
    opacity: 0.75;
    position: absolute;
    margin-top: 5px;
    margin-right: 5px;
    top: 90px;
    left: 90px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
